Software should <span style="color:#00b050">conform</span> to its specification

### Question
Are we building the product *right?*